/* font */
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400;500;700;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap');

/* 공통 */
body {font-family:'Noto Sans KR', sans-serif; letter-spacing:-0.02em;}
.wrap {position:relative; width:100%;}
.inner-wrap {padding:0 2.60417vw;}
section {height:100vh; width:100%;}
.tex-sub {font-family:'Roboto', sans-serif}

/* 헤더 */
header {position:fixed; z-index:10;}
header .inner-wrap {height:4.89583vw; width:100vw; display:flex; justify-content:space-between; align-items:flex-end;}
header .inner-wrap .logo-cover {}
header .inner-wrap .logo-cover .logo {}
header .inner-wrap .logo-cover .logo img {width: 10.20833vw; height:3.28125vw;}
header .inner-wrap .nav-cover {display:flex;}
header .inner-wrap .nav-cover .nav-list {display:flex; align-items:center;}
header .inner-wrap .nav-cover .nav-list::after {content:''; display:block; width:0.3125vw; height:0.3125vw; background-color:rgba(255, 255, 255, 0.7); border-radius:50%; margin:0vw 1.66667vw;}
header .inner-wrap .nav-cover .nav-list .list-item:not(:last-child){margin-right:1.25vw;} 
header .inner-wrap .nav-cover .nav-list .list-item a {display:block; font-size:0.9375vw; font-weight:700; color:rgba(255, 255, 255, 0.7);}
header .inner-wrap .nav-cover .btn-download {display:block; font-size:0.9375vw; font-weight:700; color:#fff;}
header .inner-wrap .nav-cover .btn-download i {margin-left:8px; color:#fff;}

/* 메인 */
.main {background-color:#888; position:relative;}
.main .inner-wrap {height:100vh; padding:0;}

.main .inner-wrap .btn-cover {position:absolute; top:50%; left:0; width:100%; display:flex; justify-content:space-between; padding:0 2.60417vw;}
.main .inner-wrap .btn-cover .btn-swiper {position:relative; display:block; width:1.5625vw; height:1.5625vw;}
.main .inner-wrap .btn-cover .btn-swiper::after {content:''; display:block; position:absolute; width:100%; height:100%; border-top:solid 6px rgba(255, 255, 255, 0.3); border-right:solid 6px rgba(255, 255, 255, 0.3); top:0; transition:0.6s;} 
.main .inner-wrap .btn-cover .prev::after {left:0; transform:rotate(225deg);}
.main .inner-wrap .btn-cover .next::after {right:0; transform:rotate(45deg);}
.main .inner-wrap .btn-cover .btn-swiper:hover {transform:scale(1.1);}
.main .inner-wrap .btn-cover .btn-swiper:hover::after {border-color:rgba(255, 255, 255, 1)}

.main .inner-wrap .gallery-list {}
.main .inner-wrap .gallery-list .list-item {}
.main .inner-wrap .gallery-list .list-item .tex-cover {position:absolute; left:50%; top:50%; transform:translate(-50%, -50%);}
.main .inner-wrap .gallery-list .list-item .tex-cover .tex-sub {display:block; font-size:1.35417vw; line-height:1; color:#fff; font-weight:bold; text-align:center;}
.main .inner-wrap .gallery-list .list-item .tex-cover .tex-title {display:block; font-size:2.91667vw; line-height:1.2; color:#fff; font-weight:bolder; text-align:center; padding:10px 0; letter-spacing:-2px; text-shadow: 0 0 0.3em rgb(0 0 0 / 10%);} 
.main .inner-wrap .gallery-list .list-item .img-cover {height:100vh;}
.main .inner-wrap .gallery-list .list-item .img-cover .img-main {object-fit:cover; display:block; width:100%; height:100%; background-position:50% 50%; background-repeat:no-repeat;} 

/* 컨텐츠 */
.content {padding:9.375vw 17.70833vw 12.8125vw;}
.content .inner-wrap {padding:0;}
.content .inner-wrap .tex-cover {}
.content .inner-wrap .tex-cover + .tex-cover {margin-top:4.16667vw;}
.content .inner-wrap .tex-cover .tex-title {font-size:4.16667vw; color:#222; line-height:1.2;}
.content .inner-wrap .tex-cover .tex-title strong {font-weight:700;}
.content .inner-wrap .tex-cover .tex-title + .tex-sub {margin-top:0.83333vw;}
.content .inner-wrap .tex-cover .tex-sub {margin-top:0.20833vw; font-size:1.04167vw;}
.content .inner-wrap .tex-cover .tex-detail {font-size:0.9375vw; line-height:166.66667%; color:#666;}
.content .inner-wrap .device-list {margin-top:5.20833vw; display:flex;}
.content .inner-wrap .device-list .list-item:not(:first-child) {margin-left:1.25vw;}
.content .inner-wrap .device-list .list-item .icon {display:inline-block; width:1.66667vw; height:1.875vw;}
.content .inner-wrap .device-list .list-item .icon::before {content:''; display:block; width:100%; height:100%; background-repeat:no-repeat; background-position:50% 50%; background-size:contain; background-image: url(../images/icon_mobile.svg);}



